.modal-body{
    padding-top: 0;
    padding-bottom: 0;
}
.icon-button{
    text-align: center;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.icon-button:hover {
    background-color: #f7b630;
    box-shadow: 0 1.5px 3px rgba(0,0,0,0.60);
    cursor: pointer;
}
.icon-button:hover::after {
    opacity: 1;
}
.icon-button:hover > img {
    animation:spin .5s linear;
}
.search-icon::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c8c8c8 !important;
    font-weight: normal !important;
    font-style: italic !important;
    font-size: 16px;
}
.search-icon::-moz-placeholder { /* Firefox 19+ */
    color: #c8c8c8 !important;
    font-weight: normal !important;
    font-style: italic !important;
    font-size: 16px;
}
.search-icon:-ms-input-placeholder { /* IE 10+ */
    color: #c8c8c8 !important;
    font-weight: normal !important;
    font-style: italic !important;
    font-size: 16px;
}
.search-icon:-moz-placeholder { /* Firefox 18- */
    color: #c8c8c8 !important;
    font-weight: normal !important;
    font-style: italic !important;
    font-size: 16px;
}
.menu {
    height: 35px;
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 4px;
    padding-left: 10px;
    -webkit-transition: 0.15s all ease;
    transition: 0.15s all ease;

}
.menu-selected {
    background-color: #f7b630;
    cursor: pointer;
    height: 35px;
    font-size: 20px;
    padding-top: 4px;
    padding-left: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.menu-selected  > i {
    visibility: hidden;
    -webkit-transition: 0.13s ease-in;
    transition: 0.13s ease-in;
}
.menu > i {
    visibility: hidden;
    -webkit-transition: 0.13s ease-in;
    transition: 0.13s ease-in;
}
.menu:hover {
    background-color: #f7b630;
    cursor: pointer;
    padding-left: 25px;
    -webkit-transition: 0.15s all ease;
    transition: 0.15s all ease;
}
.menu:hover > i {
    visibility: visible;
    -webkit-transition: 0.13s ease-out;
    transition: 0.13s ease-out;
}
.icon-container{
    overflow-y: auto;
    margin-top:10px;
    margin-left:5px;
    max-height:222px;
}

@media(min-width:768px){
    .icon-container{
        margin-left:20px;
    }
}